<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CKB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CryptoKB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CryptoKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KTKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E48DDCB1E596410000F388F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E56FE0B1E0E188E00BF4377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E56FE1E1E0E1A2C00BF4377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E56FE2F1E0E1A4C00BF4377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6B6A2D1DFA4ABD00712C0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6B6A461DFA4AE400712C0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EFCAFF81E52AAA800F2B99A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
